//- Beer
extends _base

append head
	title= beer.name

block content
	.hidden-phone
		h1.page-header
			div(style="width:60px;height:85px;position:relative;display:inline-block;margin-bottom:-45px;margin-right:10px;")
				div(style="position:absolute;top:2px;left:2px;width:56px;height:81px;background-color:rgb(" + beer.properties.colorRGB + ")")
				a(href="#/")
					img(src="/img/beer-glass.png", style="position:absolute;top:0px;left:0px;")
			| #{beer.name + ' '}
			br
			small(style="margin-left:70px;")
				a(href='http://www.bjcp.org/styles04/Category' + beer.properties.bjcp.number + '.php#style' + beer.properties.bjcp.number + beer.properties.bjcp.letter)= beer.properties.bjcp.number + beer.properties.bjcp.letter + ' - ' + beer.properties.bjcp.name
	.visible-phone
		div.beerGlass(style="width:60px;height:85px;position:relative;float:right;top:-16px;-webkit-transform:scale(0.65);")
			div(style="position:absolute;top:2px;left:2px;width:56px;height:81px;background-color:rgb(" + beer.properties.colorRGB + ")")
			img(src="/img/beer-glass.png", style="position:absolute;top:0px;left:0px;")
		h3(style="margin:-10px 0 15px 0;line-height:30px;")= beer.name + ' '
			br
			small
				a(href='http://www.bjcp.org/styles04/Category' + beer.properties.bjcp.number + '.php#style' + beer.properties.bjcp.number + beer.properties.bjcp.letter)= beer.properties.bjcp.number + beer.properties.bjcp.letter + ' - ' + beer.properties.bjcp.name
	.area#content
		ul.nav.nav-tabs
			li
				a(href="#batches") Batches
			li
				a.hidden-phone(href="#beer") Beer Details
				a.visible-phone(href="#beer") Details
		.tab-content
			.tab-pane#batches
				.hidden-phone
					a.pull-right(href="#/createBatch").btn.btn-primary.new New Batch
				.visible-phone
					a.pull-right.btn.btn-primary(href="#/createBatch")
						i.icon-plus.icon-white
				table.table.table-striped.table-hover
					thead
						tr
							th #
							th Name
							th Brewed
							th.hidden-phone Equipment
					tbody
						- if (beer.batches.length)
							each batch, index in beer.batches
								tr.interactive(data-id=batch._id)
									td= batch.number
									td= batch.name
									td #{new Date(batch.brewed).toDateString()}
										|  - 
										span(data-mtime=batch.points.filter(function (point) { return point.action === 'pitch'; }).length === 1 ? batch.points.filter(function (point) { return point.action === 'pitch'; })[0].at : batch.brewed)
									td.hidden-phone= descriptions[batch.equipment]
						- else
							tr
								td(colspan="4") No batches.
			.tab-pane#beer
				.row
					.span12
						h4= beer.properties.type
				.row.hidden-phone
					table.table.span12
						tbody
							td(style="text-align:center;")
								span.label.label-success= beer.properties.abv + '%'
								strong  ABV
								br
								small apparent, by gravity
							td(style="text-align:center;")
								span.label.label-info= beer.properties.og
								strong  OG
								br
								small at #{beer.properties.efficiency}% efficiency
							td(style="text-align:center;")
								span.label.label-info= beer.properties.fg
								strong  FG
								br
								small at #{beer.properties.attenuation}% attenuation
							td(style="text-align:center;")
								span.label.label-success= beer.properties.bitterness
								strong  Bitterness
								br
								small= 'IBU - Tinseth'
							td(style="text-align:center;")
								span.label.label-warning= beer.properties.color
								strong  Color
								br
								small= 'SRM - Morey'
				.row.visible-phone
					div(style="width:33%;display:inline-block;")
						p
							span.label.label-info= beer.properties.abv + '%'
							strong  ABV
					div(style="width:33%;display:inline-block;")
						p
							span.label.label-info= beer.properties.og
							strong  OG
					div(style="width:33%;display:inline-block;")
						p
							span.label.label-info= beer.properties.fg
							strong  FG
					div(style="width:33%;display:inline-block;")
						p
							span.label.label-success= beer.properties.bitterness
							strong  IBU
					div(style="width:33%;display:inline-block;")
						p
							span.label.label-warning= beer.properties.color
							strong  Color
	.area#createBatch
		h3 New Batch
		p
			form.form-horizontal(action="/createBatch", method="post", accept-charset="utf-8")
				input(type="hidden", name="beer", value=beer._id)
				fieldset
					.control-group
						label.control-label Batch Number
						.controls
							input.span1.firstFocus(type="number", name="number", data-validators="required validate-numeric", value="New Batch")
					.control-group
						label.control-label Batch Name
						.controls
							input.span3(type="text", name="name", data-validators="required", value="New Batch")
					.control-group
						label.control-label Brewed
						.controls
							input.span3(type="text", name="brewed", data-validators="required validate-date dateFormat:'%m/%d/%Y'", value="")
					.control-group
						label.control-label Equipment Type
						.controls
							select.span3(name="equipment", data-validators="required")
								option(value="stovetop")= descriptions['stovetop']
								option(value="ag-biab")= descriptions['ag-biab']
								option(value="ag-insulated")= descriptions['ag-insulated']
								option(value="ag-direct")= descriptions['ag-direct']
								option(value="ag-rims")= descriptions['ag-rims']
								option(value="ag-herms", selected)= descriptions['ag-herms']
					.control-group
						label.control-label Yeast Strain
						.controls
							input.span3(type="text", value=beer.properties.yeast, disabled)
							.help-block Determined by the beer.
					.control-group
						label.control-label Yeast Method
						.controls
							select.span3(name="yeastMethod", data-validators="required")
								option(value="direct") Direct Pitch
									option(value="rehydrate-water", selected)= descriptions['rehydrate-water']
									option(value="rehydrate-wort")= descriptions['rehydrate-wort']
									option(value="starter")= descriptions['starter']
									option(value="starter-O2")= descriptions['starter-O2']
									option(value="starter-shaken")= descriptions['starter-shaken']
									option(value="starter-aerated")= descriptions['starter-aerated']
									option(value="starter-stir", selected)= descriptions['starter-stir']
					.control-group
						label.control-label Fermented In
						.controls
							select.span3(name="fermentor", data-validators="required")
								option(value="bucket")= descriptions['bucket']
								option(value="carboy-5")= descriptions['carboy-5']
								option(value="carboy-6")= descriptions['carboy-6']
								option(value="conical-plastic")= descriptions['conical-plastic']
								option(value="conical-stainless", selected)= descriptions['conical-stainless']
					.control-group
						label.control-label Ferment Control Method
						.controls
							select.span4(name="control", data-validators="required")
								option(value="none")= descriptions['none']
								option(value="manual")= descriptions['manual']
								option(value="auto-enclosed")= descriptions['auto-enclosed']
								option(value="auto-wort", selected)= descriptions['auto-wort']
					.control-group
						label.control-label Notes
						.controls
							textarea.span3(name="notes", data-validators="", value="")
					.form-actions
						input(type="submit", class="btn btn-primary", value="Save")
						| &nbsp;
						a.btn(href="#/") Cancel

block localJS
	script(src='/js/beer/local.js')
	script(type='text/javascript')
		ampl.set('_id', !{JSON.stringify(beer._id)});
		ampl.set('descriptions', !{JSON.stringify(descriptions)});