//- Dashboard
extends _base

append head
	title Seeker Brewing Co.

block navigation
	a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.brand Seeker Brewing Co.
	.nav-collapse
		ul.nav
			li.active
				a(href='/') Beers
			li.visible-desktop
				a(href="/upload") Upload

block content
	.area#recipes
		a.btn.btn-primary.pull-right(href="/#/createBeer") New Beer
		h1.page-header Beers
		table.table
			thead
				tr
					th Name
					th Batches
					th.hidden-phone Last Modified
			tbody
				each recipe in recipes
					tr.interactive(data-id=recipe._id)
						td= recipe.name
						td
							- if (recipe.batches.length)
								span.badge.badge-info= recipe.batches.length
							- else
								span.badge 0
						td.hidden-phone(data-mtime=recipe.mtime)
	.area#createBeer
		h1.page-header Create a new Beer
		form.form-horizontal(data-action="createBeer", action="/", method="post", accept-charset="utf-8")
			input(type="hidden", name="target", value="recipe")
			input(type="hidden", name="action", value="create")
			fieldset
				.control-group
					label.control-label Name
					.controls
						input.span4(type="text", name="name", data-validators="required", placeholder="Awesome Sauce")
				.control-group
					label.control-label BJCP Category
					.controls
						select.span4(name="category", data-validators="required")
							each category, index in categories
								option(value="", disabled, selected=index === 0)= (index + 1) + ' : ' + category.name
									each subcategory in category.subcategories
										option(value=subcategory.id.toLowerCase())!= '&nbsp;&nbsp;&nbsp;' + subcategory.id + ', ' + subcategory.name
				.control-group
					label.control-label Beer Type
					.controls
						select.span3(name="type", data-validators="required")
							option(value="all-grain") All Grain
							option(value="extract-specialty") Extract with Specialty Grains
							option(value="extract") Extract Only
				.control-group
					label.control-label Target OG
					.controls
						.input-prepend.input-append
							span.add-on 1.
							input.span1(type="text", name="og", data-validators="required validate-numeric", placeholder="000")
							span.add-on SG
				.control-group
					label.control-label Target Efficiency
					.controls
						.input-prepend.input-append
							input.span1(type="text", name="efficiency", data-validators="required validate-numeric", placeholder="80")
							span.add-on %
				.control-group
					label.control-label Target FG
					.controls
						.input-prepend.input-append
							span.add-on 1.
							input.span1(type="text", name="fg", data-validators="required validate-numeric", placeholder="000")
							span.add-on SG
				.control-group
					label.control-label Target Attenuation
					.controls
						.input-prepend.input-append
							input.span1(type="text", name="attenuation", data-validators="required validate-numeric", placeholder="75")
							span.add-on %
				.control-group
					label.control-label Bitterness
					.controls
						.input-prepend.input-append
							input.span1(type="text", name="bitterness", data-validators="required validate-numeric", placeholder="50")
							span.add-on IBU - Tinseth
				.control-group
					label.control-label Color
					.controls
						.input-prepend.input-append
							input.span1(type="text", name="color", data-validators="required validate-numeric", placeholder="10")
							span.add-on SRM - Morey
				.form-actions
					button.btn.btn-primary(type="submit") Create Beer
					| &nbsp;
					a.btn(href="/#/") Cancel

block localJS
	script(type='text/javascript', src="/js/local.js")