//- Dashboard
extends _base

append head
	title= recipe.name

block navigation
	a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.brand Seeker Brewing Co.
	.nav-collapse
		ul.nav
			li
				a(href='/') Recipes
			li.visible-desktop
				a(href="/upload") Upload

block content
	h2= recipe.name + ' '
		small= recipe.beer.specs.type
		small.pull-right.visible-desktop
			a(href=recipe.type.link)= recipe.type.category.number + recipe.type.style.letter + ' - ' + recipe.type.style.name
		small.pull-right.visible-tablet
			a(href=recipe.type.link)= recipe.type.category.number + recipe.type.style.letter + ' - ' + recipe.type.style.name
		small.visible-phone
			a(href=recipe.type.link)= recipe.type.category.number + recipe.type.style.letter + ' - ' + recipe.type.style.name
	hr
	.area#batches
		.row.hidden-phone
			.span3
				p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.og}" : "")
					span.label.label-info= recipe.beer.specs.og
					strong  OG
					br
					small at #{convert.round.call(recipe.beer.specs.efficiency, 1)}% efficiency.
			.span3
				p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.fg}" : "")
					span.label.label-info= convert.round.call(Number.from(recipe.beer.specs.precalculated.fg), 3, true)
					strong  FG
					br
					small at #{convert.round.call(Number.from(recipe.beer.specs.yeasts.YEAST.ATTENUATION), 1)}% attenuation.
			.span3
				p
					span.label.label-success= recipe.beer.specs.ibu
					strong  Bitterness
					br
					small IBU - Tinseth
			.span3
				p
					span.label.label-warning= recipe.beer.specs.color
					strong  Color
					br
					small SRM - Morey
		.row.visible-phone
			div(style="width:50%;display:inline-block;")
				p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.og}" : "")
					span.label.label-info= recipe.beer.specs.og
					strong  OG
					br
					small at #{convert.round.call(recipe.beer.specs.efficiency, 1)}% efficiency.
			div(style="width:50%;display:inline-block;")
				p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.fg}" : "")
					span.label.label-info= convert.round.call(Number.from(recipe.beer.specs.precalculated.fg), 3, true)
					strong  FG
					br
					small at #{convert.round.call(Number.from(recipe.beer.specs.yeasts.YEAST.ATTENUATION), 1)}% attenuation.
			div(style="width:50%;display:inline-block;")
				p
					span.label.label-success= recipe.beer.specs.ibu
					strong  Bitterness
					br
					small IBU - Tinseth
			div(style="width:50%;display:inline-block;")
				p
					span.label.label-warning= recipe.beer.specs.color
					strong  Color
					br
					small SRM - Morey
		hr
		h3 Batches
			small.pull-right
				a(href="#/createBatch").btn.btn-primary.new New Batch
		table.table
			thead
				tr
					th Name
					th Brewed
					th Equipment
			tbody
				- if (recipe.batches.length)
					each batch, index in recipe.batches
						tr.interactive(data-id=batch._id)
							td= batch.name
							td= new Date(batch.brewed).toDateString()
							td= descriptions[batch.equipment]
				- else
					tr
						td(colspan="4") No batches.
	.area#batch
		h3 Batch 
			small.name
			small.pull-right
				button.btn.btn-primary(type="button", data-toggle="modal", data-target="#createDataPointModal") New Data Point
		.modal.hide#createDataPointModal
			.modal-header
				a.close(href="#", data-dismiss="modal") ×
				h3 New Data Point
			form.form-horizontal(action="/createDataPoint", method="post", accept-charset="utf-8", style="margin:0;")
				.modal-body
					p
						input(type="hidden", name="parent", value=recipe._id)
						input(type="hidden", name="batch", value="")
						fieldset
							.control-group
								label.control-label At
								.controls
									.input-prepend
										button.btn.now(type="button", tabindex="-1")
											i.icon.icon-time
											|  Now
										input.span2(type="text", name="at", data-validators="required validate-dateWithTime", value="")
							.control-group.temp
								label.control-label Temperature
								.controls
									.input-append
										input.span1(type="number", name="temp", data-validators="required validate-numeric", value="")
										span.add-on &deg;F
							.control-group.ambient
								label.control-label Ambient
								.controls
									.input-append
										input.span1(type="number", name="ambient", data-validators="required validate-numeric", value="")
										span.add-on &deg;F
							.control-group
								label.control-label Notes
								.controls
									textarea.span2(name="notes", value="")
				.modal-footer
					a.btn(href="#", data-dismiss="modal", tabindex="-1") Cancel
					button.btn.btn-primary(type="submit") Create
		table.table
			thead
				tr
					th At
					th Temp
					th Ambient
			tbody
				tr
					td(colspan="3") No data Points.
		h4 Details
		hr
		p
			form.form-horizontal(action="/updateBatch", method="post", accept-charset="utf-8")
				input(type="hidden", name="parent", value=recipe._id)
				input(type="hidden", name="_id", value="")
				fieldset
					.control-group
						label.control-label Batch Name
						.controls
							input.span3(type="text", name="name", value="")
					.control-group
						label.control-label Notes
						.controls
							textarea.span3(name="notes", value="")
					.control-group
						label.control-label Brewed
						.controls
							.fixed(data-name="brewed")
					.control-group
						label.control-label Equipment Type
						.controls
							.fixed(data-name="equipment")
					.control-group
						label.control-label Yeast Strain
						.controls
							.fixed= recipe.beer.specs.yeasts.YEAST.NAME + ' (' + recipe.beer.specs.yeasts.YEAST.FORM + ')'
					.control-group
						label.control-label Yeast Method
						.controls
							.fixed(data-name="yeastMethod")
					.control-group
						label.control-label Fermented In
						.controls
							.fixed(data-name="fermentor")
					.control-group
						label.control-label Ferment Control Method
						.controls
							.fixed(data-name="control")
					.form-actions
						input(type="submit", class="btn btn-primary", value="Update Batch")
						| &nbsp;
						a.btn(href="#/") Cancel
						a.btn.btn-danger.pull-right.delete(href="#", tabindex="-1", data-toggle="modal", data-target="#deleteBatchModal") Delete
			.modal.hide#deleteBatchModal
				.modal-header
					a.close(href="#", data-dismiss="modal") ×
					h3 Delete 
						small.name
				.modal-body
					p
						strong This is an irreversible operation.
					p The batch 
						em.name
						|  will be permanently destroyed.
				.modal-footer
					a.btn(href="#", data-dismiss="modal") Cancel
					a.btn.btn-danger(href="#") Confirm Delete
	.area#createBatch
		h3 New Batch
		p
			form.form-horizontal(action="/createBatch", method="post", accept-charset="utf-8")
				input(type="hidden", name="_id", value=recipe._id)
				fieldset
					.control-group
						label.control-label Batch Name
						.controls
							input.span3(type="text", name="name", data-validators="required", value="New Batch")
					.control-group
						label.control-label Brewed
						.controls
							input.span3(type="text", name="brewed", data-validators="required validate-date dateFormat:'%m/%d/%Y'", value="")
					.control-group
						label.control-label Equipment Type
						.controls
							select.span3(name="equipment", data-validators="required")
								option(value="stovetop")= descriptions['stovetop']
								option(value="ag-biab")= descriptions['ag-biab']
								option(value="ag-insulated")= descriptions['ag-insulated']
								option(value="ag-direct")= descriptions['ag-direct']
								option(value="ag-rims")= descriptions['ag-rims']
								option(value="ag-herms", selected)= descriptions['ag-herms']
					.control-group
						label.control-label Yeast Strain
						.controls
							input.span3(type="text", value=recipe.beer.specs.yeasts.YEAST.NAME + ' (' + recipe.beer.specs.yeasts.YEAST.FORM + ')', disabled)
							.help-block Determined by the recipe.
					.control-group
						label.control-label Yeast Method
						.controls
							select.span3(name="yeastMethod", data-validators="required")
								option(value="direct") Direct Pitch
								- if (recipe.beer.specs.yeasts.YEAST.FORM.toLowerCase() === 'dry')
									option(value="rehydrate-water", selected)= descriptions['rehydrate-water']
									option(value="rehydrate-wort")= descriptions['rehydrate-wort']
								- else if (recipe.beer.specs.yeasts.YEAST.FORM.toLowerCase() === 'liquid')
									option(value="starter")= descriptions['starter']
									option(value="starter-O2")= descriptions['starter-O2']
									option(value="starter-shaken")= descriptions['starter-shaken']
									option(value="starter-aerated")= descriptions['starter-aerated']
									option(value="starter-stir", selected)= descriptions['starter-stir']
					.control-group
						label.control-label Fermented In
						.controls
							select.span3(name="fermentor", data-validators="required")
								option(value="bucket")= descriptions['bucket']
								option(value="carboy-5")= descriptions['carboy-5']
								option(value="carboy-6")= descriptions['carboy-6']
								option(value="conical-plastic")= descriptions['conical-plastic']
								option(value="conical-stainless", selected)= descriptions['conical-stainless']
					.control-group
						label.control-label Ferment Control Method
						.controls
							select.span4(name="control", data-validators="required")
								option(value="none")= descriptions['none']
								option(value="manual")= descriptions['manual']
								option(value="auto-enclosed")= descriptions['auto-enclosed']
								option(value="auto-wort", selected)= descriptions['auto-wort']
					.control-group
						label.control-label Notes
						.controls
							textarea.span3(name="notes", data-validators="", value="")
					.form-actions
						input(type="submit", class="btn btn-primary", value="Save")
						| &nbsp;
						a.btn(href="#/") Cancel

block localJS
	script(src='/js/recipe/local.js')
	script(type='text/javascript')
		window.ampl = {
			batches: !{JSON.stringify(recipe.batches)},
			descriptions: !{JSON.stringify(descriptions)}
		};