//- Dashboard
extends _base

append head
	title= recipe.name

block navigation
	a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.brand Seeker Brewing Co.
	.nav-collapse
		ul.nav
			li
				a(href='/') Recipes
			li.visible-desktop
				a(href="/upload") Upload

block content
	h2= recipe.name + ' '
		small= recipe.beer.specs.type
		small.pull-right.visible-desktop
			a(href=recipe.type.link)= recipe.type.category.number + recipe.type.style.letter + ' - ' + recipe.type.style.name
		small.pull-right.visible-tablet
			a(href=recipe.type.link)= recipe.type.category.number + recipe.type.style.letter + ' - ' + recipe.type.style.name
		small.visible-phone
			a(href=recipe.type.link)= recipe.type.category.number + recipe.type.style.letter + ' - ' + recipe.type.style.name
	hr
	.row.hidden-phone
		.span3
			p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.og}" : "")
				span.label.label-info= recipe.beer.specs.og
				strong  OG
				br
				small at #{convert.round.call(recipe.beer.specs.efficiency, 1)}% efficiency.
		.span3
			p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.fg}" : "")
				span.label.label-info= convert.round.call(Number.from(recipe.beer.specs.precalculated.fg), 3, true)
				strong  FG
				br
				small at #{convert.round.call(Number.from(recipe.beer.specs.yeasts.YEAST.ATTENUATION), 1)}% attenuation.
		.span3
			p
				span.label.label-success= recipe.beer.specs.ibu
				strong  Bitterness
				br
				small IBU - Tinseth
		.span3
			p
				span.label.label-warning= recipe.beer.specs.color
				strong  Color
				br
				small SRM - Morey
	.row.visible-phone
		div(style="width:50%;display:inline-block;")
			p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.og}" : "")
				span.label.label-info= recipe.beer.specs.og
				strong  OG
				br
				small at #{convert.round.call(recipe.beer.specs.efficiency, 1)}% efficiency.
		div(style="width:50%;display:inline-block;")
			p(title=recipe.beer.specs.precalculated ? "XML: #{recipe.beer.specs.precalculated.fg}" : "")
				span.label.label-info= convert.round.call(Number.from(recipe.beer.specs.precalculated.fg), 3, true)
				strong  FG
				br
				small at #{convert.round.call(Number.from(recipe.beer.specs.yeasts.YEAST.ATTENUATION), 1)}% attenuation.
		div(style="width:50%;display:inline-block;")
			p
				span.label.label-success= recipe.beer.specs.ibu
				strong  Bitterness
				br
				small IBU - Tinseth
		div(style="width:50%;display:inline-block;")
			p
				span.label.label-warning= recipe.beer.specs.color
				strong  Color
				br
				small SRM - Morey
	hr
	.area#batches
		h3 Batches
			small
				a(href="#/newBatch").btn.pull-right.new New Batch
		table.table
			thead
				tr
					th
					th Name
					th Brewed
			tbody
				- if (recipe.batches.length)
					each batch, index in recipe.batches
						tr.interactive(data-id=index)
							td= index
							td= batch.name
							td(data-mtime=batch.brewed)
				- else
					tr
						td(colspan="3") No batches.
	.area#newBatch
		h3 New Batch
		p
			form.form-horizontal(action="/newBatch", method="post", accept-charset="utf-8")
				fieldset
					.control-group
						label.control-label Batch Name
						.controls
							input.span3(type="text", name="name", data-validators="required", value="New Batch")
					.control-group
						label.control-label Brewed
						.controls
							input.span3(type="text", name="brewed", data-validators="required validate-date dateFormat:'%m/%d/%Y'", value=(new Date()).toDateString())
					.control-group
						label.control-label Equipment Type
						.controls
							select.span3(name="equipment", data-validators="required")
								option(value="stovetop") Stovetop / Extract / Partial Mash
								option(value="ag-biab") All Grain, BIAB
								option(value="ag-insulated") All Grain, Insulated
								option(value="ag-direct") All Grain, Direct Fire
								option(value="ag-rims") All Grain, RIMS
								option(value="ag-herms", selected) All Grain, HERMS
					.control-group
						label.control-label Fermented In
						.controls
							select.span3(name="fermentor", data-validators="required")
								option(value="bucket") Bucket
								option(value="carboy-5") Carboy, 5 gal
								option(value="carboy-6") Carboy, 6 gal
								option(value="conical-plastic") Conical, Plastic
								option(value="conical-stainless", selected) Conical, Stainless
					.control-group
						label.control-label Ferment Control Method
						.controls
							select.span4(name="control", data-validators="required")
								option(value="none") No Control; Let it run wild
								option(value="manual") Manual; Wet towels, swamp cooling, etc
								option(value="auto-enclosed") Auto Space; Temperature controlled space
								option(value="auto-wort", selected) Auto in Wort; Temperature controlled wort
					.control-group
						label.control-label Notes
						.controls
							textarea.span3(name="notes", data-validators="", value="")
					.form-actions
						input(type="submit", class="btn btn-primary", value="Save")
						| &nbsp;
						a.btn(href="#/") Cancel

block localJS
	script(src='/js/recipe/local.js')