//- BCS Device
extends ../_base

append head
	title= bcs.name

block content
	h1.page-header= bcs.name
	.area#content
		h3 Temperature Sensors
		- if (sensors.length)
			table.table.table-striped(style="width:auto;margin:auto;")
				thead
					tr
						th= sensors[0].name
						th= sensors[1].name
						th= sensors[2].name
						th= sensors[3].name
				tbody
					tr#temps
						td(style="width:220px;height:220px;", data-value=sensors[0].value)
						td(style="width:220px;height:220px;", data-value=sensors[1].value)
						td(style="width:220px;height:220px;", data-value=sensors[2].value)
						td(style="width:220px;height:220px;", data-value=sensors[3].value)
					tr
						td #{sensors[0].value}&deg;F, #{Math.round((sensors[0].value - 32) * (5 / 9))}&deg;C
						td #{sensors[1].value}&deg;F, #{Math.round((sensors[1].value - 32) * (5 / 9))}&deg;C
						td #{sensors[2].value}&deg;F, #{Math.round((sensors[2].value - 32) * (5 / 9))}&deg;C
						td #{sensors[3].value}&deg;F, #{Math.round((sensors[3].value - 32) * (5 / 9))}&deg;C
		- else
			p No sensors could be read.
		hr
		h3 Edit Device
		p
			form.form-horizontal(action="/bcs/edit", method="post", accept-charset="utf-8")
				input(type="hidden", name="delete", value="false")
				input(type="hidden", name="_id", value=bcs._id)
				fieldset
					.control-group
						label.control-label Device
						.controls
							.fixed= bcs.state.ready ? bcs.state.firmware : (bcs.state.error.message + ' [' + bcs.state.error.code + ']')
					.control-group
						label.control-label Device Name
						.controls
							input.span3(type="text", name="name", data-validators="required", placeholder="Ferment Controller", value=bcs.name)
					.control-group
						label.control-label Host
						.controls
							input.span3(type="text", name="host", data-validators="required", placeholder="192.168.1.1", value=bcs.host)
					.control-group
						label.control-label Port
						.controls
							input.span1(type="text", name="port", data-validators="required validate-numeric", value=bcs.port)
					.form-actions
						input(type="submit", class="btn btn-primary", value="Save")
						| &nbsp;
						a.btn.btn-danger.pull-right.delete(href="#", tabindex="-1", data-toggle="modal", data-target="#deleteModal") Delete
		.modal.hide#deleteModal
			.modal-header
				a.close(href="#", data-dismiss="modal") ×
				h3 Delete Device
			.modal-body
				p This BCS device will no longer be available for temperature recording.
			.modal-footer
				a.btn(href="#", data-dismiss="modal") Cancel
				a.btn.btn-danger(href="#") Confirm Delete

block localJS
	script(type='text/javascript', src="/js/bcs/device/local.js")