//- BCS Device
extends ../_base

append head
	title= bcs.name

block content
	h1.page-header= bcs.name
	.area#content
		h3 Temperature Sensors
		
		hr
		h3 Edit Device
		p
			form.form-horizontal(action="/bcs/edit", method="post", accept-charset="utf-8")
				input(type="hidden", name="delete", value="false")
				input(type="hidden", name="_id", value=bcs._id)
				fieldset
					.control-group
						label.control-label Device
						.controls
							.fixed= bcs.state.ready ? bcs.state.firmware : (bcs.state.error.message + ' [' + bcs.state.error.code + ']')
					.control-group
						label.control-label Device Name
						.controls
							input.span3(type="text", name="name", data-validators="required", placeholder="Ferment Controller", value=bcs.name)
					.control-group
						label.control-label Host
						.controls
							input.span3(type="text", name="host", data-validators="required", placeholder="192.168.1.1", value=bcs.host)
					.control-group
						label.control-label Port
						.controls
							input.span1(type="text", name="port", data-validators="required validate-numeric", value=bcs.port)
					.form-actions
						input(type="submit", class="btn btn-primary", value="Save")
						| &nbsp;
						a.btn.btn-danger.pull-right.delete(href="#", tabindex="-1", data-toggle="modal", data-target="#deleteModal") Delete
		.modal.hide#deleteModal
			.modal-header
				a.close(href="#", data-dismiss="modal") ×
				h3 Delete Device
			.modal-body
				p This BCS device will no longer be available for temperature recording.
			.modal-footer
				a.btn(href="#", data-dismiss="modal") Cancel
				a.btn.btn-danger(href="#") Confirm Delete

block localJS
	script(type='text/javascript', src="/js/bcs/device/local.js")